@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --background: 0 0% 99%;
  --foreground: 0 0% 3%;
  --foreground-secondary: 0 0% 50%;

  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 10%;

  --outline: 0 0% 85%;
  --destructive: 0 90% 60%;
  --success: 125 90% 65%;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-secondary: hsl(var(--foreground-secondary));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-outline: hsl(var(--outline));
  --color-destructive: hsl(var(--destructive));
  --color-success: hsl(var(--success));

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1.25rem; /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 2rem; /* 32px */
  --text-2xl: 2.5rem; /* 40px */

  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 100px;

  --radius: 4px;

  --font-sans: "neueHaasGrotesk";
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), sans-serif;
    font-size: var(--text-sm);
  }

  li {
    list-style: none;
  }
}
