@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer theme {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 3%;
    --foreground-muted: 0 0% 39%;

    --popover: 0 0% 95%;

    --secondary: 0 0% 96%;
    --secondary-foreground: var(--color-foreground);
    --foreground-muted: 0 0% 30%;

    --destructive: 0 90% 60%;
    --success: 125 90% 65%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 97%;
    --foreground-muted: 0 0% 61%;

    --popover: 0 0% 5%;

    --foreground-muted: 0 0% 70%;

    --destructive: 0 60% 50%;
    --success: 125 60% 45%;
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-foreground-muted: hsl(var(--foreground-muted));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-outline: hsl(var(--outline));
  --color-destructive: hsl(var(--destructive));
  --color-success: hsl(var(--success));

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1.25rem; /* 20px */
  --text-lg: 1.5rem; /* 24px */
  --text-xl: 2rem; /* 32px */
  --text-2xl: 2.5rem; /* 40px */

  --radius: 4px;

  --font-sans: "neueHaasGrotesk";
}

/* Global element styling */
body {
  font-family: var(--font-sans), sans-serif;
  font-size: var(--text-sm);
  color: var(--color-foreground);
}

li {
  list-style: none;
}
